<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/feedback.css'>
  <script src='../static/client.js'></script>
</head>

<body>
<div>
    <div class='center'>
        <p>
        Choose the right <strong>trash categories</strong> to help us improve! 
        </p>

        <div class='content'>

            <div class='select'>
                <form id="form" method="post" action="submit" >
                    <select id="select-menu">
                        <option> --Please choose-- </option>
                        <option value="Cardboard">Cardboard</option>
                        <option value="E-Waste">E-waste</option>
                        <option value="Glass">Glass</option>
                        <option value="Metal">Metal</option>
                        <option value="Paper">Paper</option>
                        <option value="Plastic">Plastic</option>
                        <option value="Trash">Trash</option>
                    </select>

                    <button type="submit" id='submit-button' class='submit-button'  
                    value="SUBMIT" onclick= 'submit_wrong()'  >
                    Submit</button>

                </form>
            </div>
                    
    

            <div class='back'>
                <button id='back-button' class='back-button' onclick= "location.href='/'" 
                type='button'>
                    Try another TRASH &raquo;
                </button>
            </div>
        </div>
            
    </div>



</div>
</body>
</html>
